body{
  background: #f9fafb;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.8;
  box-sizing: border-box;
}

/* Hero */
.hero {
  text-align: center;
  padding: 5rem 0 16rem;
  margin: auto;
  color: #2c374b;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  background: white;
}
.hero img {
  height: 2rem;
}
.hero h1 {
  margin: 1rem;
  font-size: 3.5rem;
  font-weight: 500;
  color: transparent;
  background: linear-gradient(-60deg, #4e5de4, #49a5fa, #51d4ff, #49a5fa, #51d4ff);
  background-size: 200% 200%;
	animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	-webkit-animation: Gradient 8s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hero p {
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 1.5;
  color: #798294;
  font-weight: 400;
  max-width: 40rem;
}

/* Wizard */
.wizard {
  margin: -12rem auto 5rem;
  box-shadow: 0px 10px 40px rgb(108 133 171 / 20%);
  border-radius: 1rem;
}

/* FAQ */
.faq {
  max-width: 45rem;
  margin: 2rem auto;
}
.faq li {
  padding: 1rem 0;
  border-bottom: solid 1px #E1E1E2;
  list-style: none;
}
.faq li:last-child {
  border: none;
}
.faq h3 {
  color: #2c374b;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  margin: 0; 
  font-size: 1.3rem;
  font-weight: 600;
}
.faq p {
  color: #818998;
  margin-top: .5rem;
}

/* Defender */
.defender {
  max-width: 45rem;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #4e5de4 100%);
  box-shadow: 0px 10px 30px rgba(54, 102, 190, 0.3);
  border-radius: 1rem;
  padding: 3rem 6rem;
  margin: 0 auto 4rem;
  color: white;
  text-align: center;
}
.defender p {
  margin: 0 auto 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 45rem;
}
.defender a {  
  display: block;
  background: white;
  font-size: 1rem;
  line-height: 1;
  color: #3586f0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: .75rem;
  padding: 1rem 2rem;    
  max-width: fit-content;
  margin: auto;
}
.defender a:hover,
.defender a:focus {
  box-shadow: 0px 0px 12px rgb(255 255 255 / 80%);
  outline: none;
  border: none;
}

/* Footer */
footer div {
  display: flex;
  width: fit-content;
  margin: auto;
}

footer img {
  height: 2rem;
  width: 2rem;
  padding: .5rem;
}

footer p {
  text-align: center;
  color: #757588;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  font-size: .8rem;
  margin: 0 auto 2rem;
}
footer a {
  color: #757588;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  color: #4e5de4;
  text-decoration: underline;
}
