# Path Owners
* @ericglau @CoveMB
/packages/core/solidity @contracts
/packages/ui/src/solidity @contracts
/packages/core/cairo @ericnordelo @immrsd
/packages/ui/src/cairo @ericnordelo @immrsd
/packages/core/stylus @0xNeshi @bidzyyys @qalisander
/packages/ui/src/stylus @0xNeshi @bidzyyys @qalisander
/packages/core/stellar @ozgunozerk @brozorec
/packages/ui/src/stellar @ozgunozerk @brozorec