@import "styles/vars.css";

body {
  background: #f9fafb;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.8;
  box-sizing: border-box;
}

@font-face {
  font-family: 'silka';
  src: url('/fonts/silka-regular-webfont.eot');
  src: url('/fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/silka-regular-webfont.woff2') format('woff2'),
       url('/fonts/silka-regular-webfont.woff') format('woff'),
       url('/fonts/silka-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'silka';
  src: url('/fonts/silka-semibold-webfont.eot');
  src: url('/fonts/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/silka-semibold-webfont.woff2') format('woff2'),
       url('/fonts/silka-semibold-webfont.woff') format('woff'),
       url('/fonts/silka-semibold-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'silka';
  src: url('/fonts/silka-bold-webfont.eot');
  src: url('/fonts/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/silka-bold-webfont.woff2') format('woff2'),
       url('/fonts/silka-bold-webfont.woff') format('woff'),
       url('/fonts/silka-bold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Header */
.header {
  text-align: left;
  padding: 1.5rem 1rem 1.5rem;
  margin: 0 0 14rem;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  background: white;
  display: flex;
  flex-direction: row;
}
.header img {
  margin: 0 2rem 0;
}

.header .switch {
  --color-1: var(--solidity-blue-1);
  --color-2: var(--solidity-blue-2);
  display: block;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
  font-size: 1.1rem;
  line-height: 1;
  color: white;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: fit-content;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.header .switch.switch-off:not(:hover, :focus) {
  color: transparent;
  background-clip: text;
  box-shadow: 0 0 0 1px var(--color-2) inset;
}

.header .switch.switch-solidity {
  --color-1: var(--solidity-blue-1);
  --color-2: var(--solidity-blue-2);
}

.header .switch.switch-cairo {
  --color-1: var(--cairo-orange-1);
  --color-2: var(--cairo-orange-2);
}

/* Wizard */
.wizard-container {
  padding: 0 1rem 3rem;
  max-width: 100%;
  margin: -12rem auto 0;
}
.wizard {
  background-color: #f9fafb;
  box-shadow: 0px 10px 40px rgb(108 133 171 / 20%);
  border-radius: 1rem;
  min-width: 800px;
  max-width: 1500px;
  margin: auto;
}

/* FAQ */
.faq {
  max-width: 45rem;
  margin: 0 auto 2rem;
  padding: 0 2rem;
}
.faq ul {
  padding-inline-start: 0;
}
.faq li {
  padding: 1rem 0;
  border-bottom: solid 1px #e1e1e2;
  list-style: none;
}
.faq li:last-child {
  border: none;
}
.faq h3 {
  color: #3d4a5c;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}
.faq p {
  color: #818998;
  margin-top: 0.5rem;
}
.faq a {
  color: inherit;
}

/* Defender */
.defender {
  max-width: 45rem;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #4e5de4 100%);
  box-shadow: 0px 10px 30px rgba(181, 185, 192, 0.3);
  border-radius: 1rem;
  padding: 3rem 6rem;
  margin: 0 auto 4rem;
  color: white;
  text-align: center;
  line-height: 1.5;
}
.defender p {
  margin: 0 auto 2rem;
  font-size: 1.2rem;
  max-width: 45rem;
  color: #f0f6fe;
}
.defender a {
  display: block;
  background: white;
  font-size: 1rem;
  line-height: 1;
  color: #3586f0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  width: fit-content;
  margin: auto;
}
.defender a:hover,
.defender a:focus {
  box-shadow: 0px 0px 12px rgb(255 255 255 / 80%);
  outline: none;
  border: none;
}

/* Footer */
.footer-icons {
  display: flex;
  justify-content: center;
}
footer img {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}
footer p {
  text-align: center;
  color: #757588;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin: 0 auto 2rem;
  padding: 0 1rem;
}
footer a {
  color: #757588;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  color: #4e5de4;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .defender {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3rem;
    text-align: left;
  }
  .defender a {
    margin: 0 auto 0 0;
    width: max-content;
  }
}

/* To reset HubSpot Popup Banner's default animation effect */
body .leadinModal.leadinModal-theme-top {
  top: auto;
  bottom: 0;
  z-index: 99999999999;
}
.leadinModal.leadinModal-theme-top .leadinModal-content {
 animation-name: leadinModal-reset!important;
}
.leadinModal.leadinModal-theme-top.leadinModal-closing,
.leadinModal.leadinModal-theme-top.leadinModal-closing .leadinModal-content{
    animation-name: leadinModal-fadeout!important;
}

@keyframes leadinModal-reset {
    0% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 0;
    }
    1% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 0;
    }
    2% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 1;
    }
  }
