@tailwind utilities;
@import 'common/styles/vars.css';

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.8;
  box-sizing: border-box;
}

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}

.logo {
  position: relative;
  top: 3px;
}

/* Header */
.header {
  text-align: left;
  padding: 16px 20px;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  background: white;
  display: flex;
  flex-direction: row;
  min-width: 800px;
  border-bottom: 1px #eaeaea solid;
}

.header .link {
  color: var(--text-color);
  display: block;
  background: white;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  width: fit-content;
  font-weight: 500;
  letter-spacing: -0.3px;
  margin-right: 20px;
}

/* Navigation */
.nav {
  text-align: left;
  margin: 1rem auto;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  background: var(--gray-1);
  display: flex;
  flex-direction: row;
  border-radius: 5rem;
  width: fit-content;
}

.nav img {
  margin-right: 4px;
}

.nav .switch {
  --color-1: var(--solidity-blue-1);
  --color-2: #6c6f88;
  display: flex;
  align-items: center;
  font-size: 14.7px;
  font-family: var(--sans-serif);
  line-height: 1;
  color: var(--color-2);
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin: 0.5rem;
  white-space: nowrap;
  transition: background-color ease-in-out 0.3s;
}

.nav .switch:hover {
  background-color: var(--gray-2);
}

.active {
  background-color: white;
}

.nav .switch.switch-solidity.active {
  --color-2: #2a2477;
}
.nav .switch.switch-solidity.active img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(51%) saturate(5259%) hue-rotate(243deg) brightness(80%)
    contrast(92%);
}

.nav .switch.switch-cairo.active {
  --color-2: #eb5951;
}
.nav .switch.switch-cairo.active img {
  filter: brightness(0) saturate(100%) invert(61%) sepia(90%) saturate(4391%) hue-rotate(331deg) brightness(98%)
    contrast(87%);
}
.nav .switch.switch-cairo.active.with-version {
  padding: 0rem 1rem;
  padding-right: 0rem;
  cursor: default;
}
.nav .switch.switch-cairo.active.version {
  background-color: #ffecec;
  color: #eb5951;
  border: none;
  font-size: smaller;
  font-weight: 400;
  padding: 0.25rem 0rem;
  cursor: pointer;
}

.nav .switch.switch-stylus.active {
  --color-2: #e3126f;
}

.nav .switch.switch-stellar.active {
  --color-2: #0f0f0f;
}
.nav .switch.switch-stellar.active img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

/* Wizard */
.wizard-container {
  padding: 0 1rem 1.5rem;
  max-width: 100%;
  margin: 0 auto 0;
}
.wizard {
  min-width: 800px;
  max-width: 1500px;
  margin: auto;
}

/* Footer */
.footer-icons {
  display: flex;
  justify-content: center;
}
footer img {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}
footer p {
  text-align: center;
  color: #757588;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin: 0 auto 2rem;
  padding: 0 1rem;
}
footer a {
  color: #757588;
  font-family: 'silka', Arial, Helvetica, sans-serif;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  color: #4e5de4;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .defender {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3rem;
    text-align: left;
  }
  .defender a {
    margin: 0 auto 0 0;
    width: max-content;
  }
}

/* To reset HubSpot Popup Banner's default animation effect */
body .leadinModal.leadinModal-theme-top {
  top: auto;
  bottom: 0;
  z-index: 99999999999;
}
.leadinModal.leadinModal-theme-top .leadinModal-content {
  animation-name: leadinModal-reset !important;
}
.leadinModal.leadinModal-theme-top.leadinModal-closing,
.leadinModal.leadinModal-theme-top.leadinModal-closing .leadinModal-content {
  animation-name: leadinModal-fadeout !important;
}

@keyframes leadinModal-reset {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
  }
  1% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
  }
  2% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
