@import "highlight.js/styles/atom-one-dark.css";

@import "./reset.css";
@import "./vars.css";
@import "./utilities.css";

/* General */

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

svg.icon {
  vertical-align: calc(-1 * var(--icon-adjust));
  flex: 0 0 auto;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

input:not([type]), input[type="text"], input[type="number"] {
  border: 1px solid var(--gray-3);
  padding: var(--size-2) var(--size-3);
  border-radius: 6px;
}

/* Hide up and down arrows in numeric input fields */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Components */

.controls-section {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: var(--size-4);
    padding-top: var(--size-4);
    border-top: 1px solid var(--gray-3);
  }

  > * + * {
    margin-top: var(--size-2);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: var(--text-small);
    color: var(--gray-4);
    font-weight: 600;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;

  & > * {
    height: var(--size-8);
    display: flex;
    align-items: center;
    padding: var(--size-1) var(--size-2);
  }

  input {
    margin-right: var(--size-2);
  }

  .tooltip {
    margin-left: auto;
  }

  .checked {
    background-color: var(--blue-1);
  }
}

.labeled-input {
  display: flex;
  flex-direction: column;

  span {
    font-size: var(--text-small);
  }

  input {
    margin-top: var(--size-1);
    width: 100%;
  }
}

.checkbox-group > *,
.labeled-input {
  --tooltip-opacity: .15;

  &:hover {
    --tooltip-opacity: .5;
  }
}
