@import 'tippy.js/dist/tippy.css';

:root {
  --tippy-background: #333;
  --tippy-text: var(--gray-3);
  --tippy-border: rgba(0, 8, 16, 0.15);
}

.tippy-box[data-theme~="light"] {
  --tippy-background: #fff;
  --tippy-text: #333;
}

.tippy-box[data-theme~="light-yellow"] {
  --tippy-background: var(--yellow-1);
  --tippy-text: #333;
}

.tippy-box[data-theme~="light-red"] {
  --tippy-background: var(--red-1);
  --tippy-text: #333;
}

.tippy-box {
  background-color: var(--tippy-background);
  background-clip: padding-box;
  color: var(--tippy-text);
  box-shadow: var(--shadow);
  font-weight: initial;
  font-variant: initial;
  text-transform: none;
}

.tippy-box[data-theme~="border"] {
  border: 1px solid var(--tippy-border);
}

.tippy-box > .tippy-backdrop {
  background-color: var(--tippy-background);
}

.tippy-box[data-theme~="border"] > .tippy-arrow:after {
  content: "";
  position: absolute;
  z-index: -1;
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  border-top-color: var(--tippy-background);
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  border-bottom-color: var(--tippy-background);
  bottom: 16px;
}

.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-left-color: var(--tippy-background);
}

.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  border-right-color: var(--tippy-background);
  right: 16px;
}

.tippy-box[data-theme~="border"][data-placement^="top"] > .tippy-arrow:after {
  border-top-color: var(--tippy-border);
  border-width: 7px 7px 0;
  top: 17px;
  left: 1px;
}

.tippy-box[data-theme~="border"][data-placement^="bottom"] > .tippy-arrow:after {
  border-bottom-color: var(--tippy-border);
  border-width: 0 7px 7px;
  bottom: 17px;
  left: 1px;
}

.tippy-box[data-theme~="border"][data-placement^="left"] > .tippy-arrow:after {
  border-left-color: var(--tippy-border);
  border-width: 7px 0 7px 7px;
  left: 17px;
  top: 1px;
}

.tippy-box[data-theme~="border"][data-placement^="right"] > .tippy-arrow:after {
  border-width: 7px 7px 7px 0;
  right: 17px;
  top: 1px;
  border-right-color: var(--tippy-border);
}
