.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-basis-0 {
  flex-basis: 0;
}

.overflow-auto {
  overflow: auto;
}

.pr-2 {
  padding-right: var(--size-2);
}

.p-4 {
  padding: var(--size-4);
}

.w-64 {
  width: var(--size-64);
}

.gap-2 {
  gap: var(--size-2);
}

.gap-4 {
  gap: var(--size-4);
}

.grid-cols-2-1 {
  grid-template-columns: 2fr 1fr;
}
