.text-small {
  font-size: var(--text-small);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.display-contents {
  display: contents;
}

.display-none {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-basis-0 {
  flex-basis: 0;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.pr-2 {
  padding-right: var(--size-2);
}

.p-4 {
  padding: var(--size-4);
}

.ml-1 {
  margin-left: var(--size-1);
}

.ml-auto {
  margin-left: auto;
}

.w-64 {
  width: var(--size-64);
}

.flex-col-gap-1 {
  & > * + * {
    margin-left: var(--size-1);
  }
}

.flex-col-gap-2 {
  & > * + * {
    margin-left: var(--size-2);
  }
}

.flex-col-gap-4 {
  & > * + * {
    margin-left: var(--size-4);
  }
}

.flex-row-gap-4 {
  & > * + * {
    margin-top: var(--size-4);
  }
}

.grid-cols-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-cols-1-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-gap-2 {
  gap: var(--size-2);
}
