:root {

  /* Colors */

  --gray-1: #f9fafb;
  --gray-2: #eff1f3;
  --gray-3: #d8dbe2;
  --gray-4: #818998;
  --gray-5: #575c66;
  --gray-6: #2c374b;

  --blue-1: #f5f6ff;
  --blue-2: #4e5de4;
  --blue-3: #343f9d;

  --yellow-1: #fffaeb;
  --yellow-2: #ffcc33;
  --yellow-3: #b27700;

  /* Dimensions (scale taken from Tailwind) */

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-8: 2rem;
  --size-64: 16rem;

  /* Font Sizes */

  --text-small: 0.875rem;

  /* Utilities */

  --shadow: 0 2px 3px rgba(0, 0, 0, .1);

  --icon-adjust: 0.125em;

}
