name: Test

on:
  push:
    branches: [master]
  pull_request: {}

jobs:
  format-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Check formatting
        run: yarn format:check
      - name: Run linter
        run: yarn lint

  deno-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - name: Set up Deno 1.46.3 (matching Netlify edge function environment)
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: '1.46.3'
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Deno check API
        run: yarn type:check:api

  mcp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Run tests
        run: yarn test
        working-directory: packages/mcp

  build:
    timeout-minutes: 90
    strategy:
      matrix:
        package:
          - solidity
          - cairo
          - stellar
          - stylus
        # This variant config creates 2 branches of the matrix a default and a compile one to run the compile tests in their own job
        variant:
          - default
          - compile
        # This excludes config only runs the compile variant for stellar 
        exclude:
          - package: solidity
            variant: compile
          - package: cairo
            variant: compile
          - package: stylus
            variant: compile

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - name: Set up environment
        uses: ./.github/actions/setup

      # ----------------------------
      # Solidity setup
      - name: Install Foundry
        if: matrix.package == 'solidity'
        uses: foundry-rs/foundry-toolchain@82dee4ba654bd2146511f85f0d013af94670c4de #v1.4.0

      # ----------------------------
      # Stellar compile setup

      - name: Cache Rust dependencies
        if: matrix.package == 'stellar' && matrix.variant == 'compile'
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 #v4.2.3
        with:
          path: |
            ~/.cargo/bin/
            runner/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-scaffold-${{ matrix.package }}-${{ steps.get-scaffold-sha.outputs.sha }}


      - name: Set up rust toolchain
        if: matrix.package == 'stellar' && matrix.variant == 'compile'
        uses: actions-rust-lang/setup-rust-toolchain@fb51252c7ba57d633bc668f941da052e410add48 #v1.13.0
        with:
          toolchain: stable, nightly
          components: clippy, rustfmt, llvm-tools-preview
          target: wasm32v1-none

      # ----------------------------
      - name: Compile TypeScript
        run: yarn tsc
        working-directory: packages/core/${{matrix.package}}
      - name: Check Svelte
        run: yarn svelte-check
        working-directory: packages/ui
      - name: Run tests
        if: matrix.variant == 'default'
        run: yarn test '**/*.test.ts' '!**/*.compile.test.ts'
        working-directory: packages/core/${{matrix.package}}

      - name: Run tests
        if: matrix.variant == 'compile'
        env:
          RUSTFLAGS: ""
        run: yarn test '**/*.compile.test.ts'
        working-directory: packages/core/${{matrix.package}}
