name: Version Packages

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'packages/ui/**'

concurrency: version-or-publish-${{ github.ref }}

jobs:
  version:
    name: Prepare Release PR
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # To get all tags
          ref: ${{ github.ref }}
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Create Prepare Release PR
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          title: Prepare Release
          commit: Prepare Release
          version: npm run version
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
